body{
    margin: 0;

}

nav{
    align-items: center;
    background-color: #e98251;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
}

nav a{
    color: #17386d;
    font-family: 'vt323', monospace;
    font-size: 22pt;, 
    text-decoration: none;
}

header{
    background-image: url(Imagens/Foto-naruto.jpg);
    background-size: cover;
    height: 400px ;
}

section{ 
background-color:burlywood;
display: flex;
font-family: 'Montserrat', sans-serif;
justify-content: space-evenly;
}

h2{
    font-family: 'vt323', monospace;
    font-size: 30px;
}

section div{
    text-align: center;
    width: 40%;
}

div ul {
    list-style-image: url(imagens/ninja.png);
}

ul li:nth-child(odd){
    color: white;
}

input::placeholder{
    font-family: 'vt323', monospace;
}

input:focus{
    background-color: #f7560b;
    width: 150px;
    height: 20px;
}
footer div{ 
    display: flex;
    justify-content: space-evenly
    }

    div{
        
    }

    


   
